/* .container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
  grid-template-areas:
    "sidebar content";
  height: 100%;
} */

.container {
  display: flex;
  height: 100%;
}

.content {
  /* width: var(--content-width); */
  width: 100%;
}
